.table-invoice {
  font-size: 14px;

  .label{
    color: #fff;
  }

  .btn-tax {
    background-color: #fff;
    color: #000;
    border-color: #e7e7e7;
    width: 100%;
  }

  .btn-add {
    background-color: #fff;
    color: #6DBF73;
    border-color: #6DBF73;
    width: 100%;
  }

  .btn-clear {
    background-color: #fff;
    color: #E06766;
    border-color: #E06766;
    width: 100%;
  }
}