.table-invoice {
  
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;

  font-size: 14px;

  .label{
    color: #fff;
  }

  .btn-tax {
    background-color: #fff;
    color: #000;
    border-color: #e7e7e7;
    width: 100%;
  }

  .btn-add {
    background-color: #fff;
    color: #6DBF73;
    border-color: #6DBF73;
    width: 100%;
  }

  .btn-clear {
    background-color: #fff;
    color: #E06766;
    border-color: #E06766;
    width: 100%;
  }

  .border-row, .border-col {
    border: .5px solid #929292;
  }

  .form-resp, .table-resp {
    display: none;
  }

  .first-header {
    background-color: #767676;
    color: #fff;
  }

  .align-end {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: 770px) {
    .table-default, .default-form {
      display: none;
    }
    .form-resp, .table-resp {
      display: inline-block;
    }
    .btn-process {
      width: 95%;
    }
    .align-end {
      display: flex;
      justify-content: center;
    }
    .btn-delete {
      width: 80%;
    }
  }
}